h1 {
    text-align: center;
    color: #2364aa;
    font-family: 'Fondamento', cursive;
}

h2 {
    color: #2364aa;
    font-family: 'Fondamento', cursive;

}

body {
    background-color: #73bfb8;
}

p {
    color: #ea7317;
    max-width: 1024px;
    font-family: 'Fondamento', cursive;
}

div {
    display: flex;
    justify-content: center;
    /*width: 800px;*/
}

.main_pic {
    max-width: 100%;
    height: auto;
    border: 10px solid black;
}

.star_separator {
    color: #fec601;

}

.divider {
    width: 10px;
    height: auto;
    display: inline-block;
}
