h1 {
    text-align: center;
    color: #21295c;
    font-family: 'Fondamento', cursive;
}

h2 {
    color: #21295c;
    font-family: 'Fondamento', cursive;

}

body {
    background-color: #9eb3c2;
}

p {
    color: #065a82;
    max-width: 1024px;
    font-family: 'Fondamento', cursive;
}

div {
    display: flex;
    justify-content: center;
    /*width: 800px;*/
}

.main_pic {
    max-width: 100%;
    height: auto;
    border: 10px solid black;
}

.star_separator {
    color: #21295c;

}

.side_text {
    text-align: left;
}

.divider {
    width: 10px;
    height: auto;
    display: inline-block;
}
